<%inherit file="base.html" />

<%def name="render_content(node)">\
%if node.getname() == "#cdata":
${node.getcdata()}\
%elif node.getname() == "i":
${m.getingredientname(node.getstrippedcdata()).singular}\
%elif node.getname() == "temp":
<span class="temperature">${node.getstrippedcdata()}</span>\
%elif node.getname() == "time":
<span class="time">${node.getstrippedcdata()}</span>\
%elif node.getname() == "e":
<span class="extent">${node.getstrippedcdata()}</span>\
%else:
(UNKNOWN NODE ${node.getname()})
%endif
</%def>

<%def name="render_step(node)">\
%for content in node.getallchildren():
${render_content(content)}\
%endfor
</%def>

<%def name="render_preparation(node)">\
%for step in node.step:
<div class="step">
${render_step(step)}\
</div>
%endfor
</%def>

<%def name="render_ingredient(ingredient)">\
%if ingredient.cardinality is not None:
	<span class="scaletext">
		<span class="scalar" original="${ingredient.original_cardinality}">${ingredient.original_cardinality}</span>\
%if ingredient.unit_id is not None:
<span class="unit" singular="${ingredient.unit_name.singular}" plural="${ingredient.unit_name.plural}">${ingredient.unit_name(ingredient.cardinality)}</span>
%endif
		<span class="name" singular="${ingredient.ingredient_name.singular}" plural="${ingredient.ingredient_name.plural}">${ingredient.ingredient_name(ingredient.cardinality)}</span>
	</span>
%else:
${ingredient.ingredient_name.singular}
%endif
</%def>

<h1>${r.name}</h2>

<h2>Zutaten</h2>
%for ingredient_class in r.ingredient_classes:
	%if r.ingredient_class_cnt > 1:
	<h3>${ingredient_class.name}</h3>
	%endif

	<ul>
	%for orig_ingredient in ingredient_class:
		<% ingredient = orig_ingredient.get_preferred() %>
		<li>
			<div class="ingredient preferred">${render_ingredient(ingredient)}</div>
			%if (ingredient.is_unitary or ingredient.is_volume) and (ingredient.get_as("g") is not None):
			<div class="ingredient alt">${render_ingredient(ingredient.get_as("g"))}</div>
			%endif
		</li>
	%endfor
	</ul>

%endfor

%if r.serves is not None:
<h2>Genug für</h2>
<ul>
%for (count, value) in r.serves:
<li><span class="scaletext"><span class="scalar" original="${count}" cardinality="${count}">${count}</span> <span class="name" singular="${value.singular}" plural="${value.plural}">${value.singular}</span></span></li>
%endfor
</ul>
%endif

<h2>Zubereitung</h2>
${render_preparation(r.preparation)}


<script language="JavaScript">
	initialize_recipe();
</script>
