body {
	background-color: white;
	font-family: sans-serif;
	border: 25px;
}

div.centerblock {
	width: 670px;
	margin: 0 auto;
}

h1 {
	font-size: 1.75em;
	text-decoration: underline wavy gray;	
}

h2 {
	font-size: 1.25em;
}

h3 {
	font-size: 1.1em;
}

span.scaletext {
	color: green;
}

span.scaletext:hover {
	color: red;
	text-decoration: underline solid;
}

div.step {
	margin-left: 10px;
	margin-bottom: 15px;
}

span.temperature {
	color: #c0392b;
}

span.time {
	color: #2980b9;
}

div.ingredient {
	margin-bottom: 4px;
	padding: 3px;
}

div.ingredient.alt {
	background-color: #aaa;
}

div.ingredient.alt > .scaletext {
	color: #fff;
}

div.ingredient.original {
	background-color: #aaa;
}

div.ingredient.original > .scaletext {
	color: #fff;
}
